<!DOCTYPE html>
<html lang="en" data-ng-app="parallaxController">
  <head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>Daniel Cody</title>
		<link href="style.css" rel="stylesheet" type="text/css"/>
		<script type="text/javascript" src="javascript/scroll.js"></script>
		<script type="text/javascript" src="javascript/jquery-1.10.2.min.js"></script>
		<script type="text/javascript" src="javascript/angular/angular.js"></script>
		<script type="text/javascript" src="javascript/parallaxController.js" ></script>
		<script>
		   
		<!----- JQUERY FOR SLIDING NAVIGATION --->   
		$(document).ready(function() {
		  $('a[href*=#]').each(function() {
			if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'')
			&& location.hostname == this.hostname
			&& this.hash.replace(/#/,'') ) {
			  var $targetId = $(this.hash), $targetAnchor = $('[name=' + this.hash.slice(1) +']');
			  var $target = $targetId.length ? $targetId : $targetAnchor.length ? $targetAnchor : false;
			   if ($target) {
				 var targetOffset = $target.offset().top;

		<!----- JQUERY CLICK FUNCTION REMOVE AND ADD CLASS "ACTIVE" + SCROLL TO THE #DIV--->   
				 $(this).click(function() {
				   $('html, body').animate({scrollTop: targetOffset}, 1500);
				   return false;
				 });
			  }
			}
		  });

		});
	
		$( document ).ready(function() {
			$("#header .content").fadeIn(1500);
			$("#slide1 .content").fadeIn(1500);
			$("#slide2 .content").fadeIn(1500);
			$("#slide3 .content").fadeIn(1500);
			$("#slide4 .content").fadeIn(1500);
			$("#slide5 .content").fadeIn(1500);
			
			var loc = $(document).scrollTop();	
			/*Changing of the nav*/
			if(loc < 670){
				$("#s1").addClass("active");
				$("#s2").removeClass("active");
				$("#s3").removeClass("active");
				$("#s4").removeClass("active");
				$("#s5").removeClass("active");
			}
			else if(loc > 670 && loc < 1190){
				$("#s1").removeClass("active");
				$("#s2").addClass("active");
				$("#s3").removeClass("active");
				$("#s4").removeClass("active");
				$("#s5").removeClass("active");
			}
			else if(loc > 1190 && loc < 2762){
				$("#s1").removeClass("active");
				$("#s2").removeClass("active");
				$("#s3").addClass("active");
				$("#s4").removeClass("active");
				$("#s5").removeClass("active");
			}
			else if(loc > 2752 && loc < 3588){
				$("#s1").removeClass("active");
				$("#s2").removeClass("active");
				$("#s3").removeClass("active");
				$("#s4").addClass("active");
				$("#s5").removeClass("active");
			}
			else if(loc > 3578){
				$("#s1").removeClass("active");
				$("#s2").removeClass("active");
				$("#s3").removeClass("active");
				$("#s4").removeClass("active");
				$("#s5").addClass("active");
			}
		});
		
		$( window ).scroll(function(){
		
			var loc = $(document).scrollTop();				
			
			/*Changing of the nav*/
			if(loc < 670){
				$("#s1").addClass("active");
				$("#s2").removeClass("active");
				$("#s3").removeClass("active");
				$("#s4").removeClass("active");
				$("#s5").removeClass("active");
			}
			else if(loc > 670 && loc < 1160){
				$("#s1").removeClass("active");
				$("#s2").addClass("active");
				$("#s3").removeClass("active");
				$("#s4").removeClass("active");
				$("#s5").removeClass("active");
			}
			else if(loc > 1160 && loc < 2722){
				$("#s1").removeClass("active");
				$("#s2").removeClass("active");
				$("#s3").addClass("active");
				$("#s4").removeClass("active");
				$("#s5").removeClass("active");
			}
			else if(loc > 2722 && loc < 3568){
				$("#s1").removeClass("active");
				$("#s2").removeClass("active");
				$("#s3").removeClass("active");
				$("#s4").addClass("active");
				$("#s5").removeClass("active");
			}
			else if(loc > 3568){
				$("#s1").removeClass("active");
				$("#s2").removeClass("active");
				$("#s3").removeClass("active");
				$("#s4").removeClass("active");
				$("#s5").addClass("active");
			}
		});
		
		/*// Cache selectors
		var topMenu = $("#nav"),
			topMenuHeight = topMenu.outerHeight()+50,
			// All list items
			menuItems = topMenu.find("a"),
			// Anchors corresponding to menu items
			scrollItems = menuItems.map(function(){
			  var item = $($(this).attr("href"));
			  if (item.length) { return item; }
			});

		// Bind to scroll
		$(window).scroll(function(){
		   // Get container scroll position
		   var fromTop = $(this).scrollTop()+topMenuHeight;

		   // Get id of current scroll item
		   var cur = scrollItems.map(function(){
			 if ($(this).offset().top < fromTop)
			   return this;
		   });
		   // Get the id of the current element
		   cur = cur[cur.length-1];
		   var id = cur && cur.length ? cur[0].id : "";
		   // Set/remove active class
		   menuItems
			 .parent().removeClass("active")
			 .end().filter("[href=#slide"+id+"]").parent().addClass("active");
		});​*/
		</script>


 </head> 
	
<body>
	
	<div data-ng-controller='ParallaxController'>

	<header id="header">
		<div class="content">
		<div id="logo"><a href="#slide1">Daniel Cody </a></div>

			<nav id="nav">
				<ul>
					<li><a href="#slide1" id="s1" class="active" title="Next Section" >Welcome</a></li>
					<li><a href="#slide2" id="s2" title="Next Section">Resume</a></li>
					<li><a href="#slide3" id="s3" title="Next Section">About Me</a></li>
					<li><a  href="#slide4" id="s4" title="Next Section">Contact</a></li>
					<li><a href="#slide5" id="s5" title="Next Section">Projects</a></li>
				</ul>
			</nav>
		
		</div>
	</header>	
		
	<div id="slide1">
		<div class="content">
		
			<span class='welcome'>Welcome to my personal website, scroll through, get to know me</span><br/><br/>
			<span class="title">Bio:</span>
			<div ng-repeat="bio in bios" class="bios">
				{{bio.desc}}
			</div>
			<br/>
			<span class="title">Technology:</span>
			<div ng-repeat="tech in technology" class="goals">
				{{tech.desc}}
			</div>
		</div> 
	</div> 

	<div id="slide2">
		<div class="content" >
			<div ng-repeat="resumes in resume" class="resume">
				{{resumes.about}}<a href="#slide5">Here</a><br/><br/>
				{{resumes.name}} <br/><br/>
				<a href="{{resumes.pdf}}">PDF</a><br/><br/>
				<a href="{{resumes.word}}">Word</a><br/><br/>
				<a href="{{resumes.github}}"><img src="{{resumes.git}}" alt="GitHub" height="40px" width="40px"/></a>
				<a href="{{resumes.linkedin}}"><img src="{{resumes.linked}}" alt="LinkedIn" height="40px" width="40px"/></a><br/><br/>
				{{resumes.desc}} <a href="#slide4">Here</a>
			</div>
		</div> 
	</div> 
		
		
	<div id="slide3">
		<div class="content">
			<div class='searchBar'>Search: <input type='text' name='search' class='searchAbout' ng-model='search' placeholder='Search About Me' /></div>
			
			<span class="skillTitle">Honors:</span>	
			<ul class='subjectHolder'>
				<li ng-repeat="honor in honors | filter:search" class='aboutSubject'>{{honor.name}}</li>
			</ul>
			
			<span class="skillTitle">Skills:</span>
			<ul class='subjectHolder'>
				<li ng-repeat="skill in skills | filter:search" class='aboutSubject'>{{skill}}</li>
			</ul>
		
			<span class="skillTitle">Interests:</span>	
			<ul class='subjectHolder'>
				<li ng-repeat="interest in interests | filter:search" class='aboutSubject'>{{interest}}</li>
			</ul>
			
			<span class="skillTitle">Activities:</span>
			<ul class='subjectHolder'>
				<li ng-repeat="activity in activities | filter:search" class='aboutSubject'>{{activity}}</li>
			</ul>
		
		</div> 
	</div> 
		
		
	<div id="slide4">
		<div class="content">
			<script src='javascript/validate.js' type="text/javascript"></script>	
			<script>
				var formtotal = 0;
				var nametotal = 0;
				var emailtotal = 0;
				var subjecttotal = 0;
				var messagetotal = 0;
				
				App.filter('newlines', function() {
				  return function(text) {
					return text.split(/\n/g);
				  };
				});
			</script>
			<center>
			<span class="title">Contact Information</span><br/><br/>
			<b>Email:</b> Daniel.Cody2@Marist.edu<br/><br/>
			<b>Phone:</b> (631) 365-9940<br/><br/>
			<span class="title">Contact Form</span><br/><br/>
			<form action="php/email.php" method="POST" id='emailForm'> 
				<input type="text" name="name" id='nameForm' ng-model="nameForm" placeholder='Name'/><br/><br/>
				<input type="text" name="email" id='email' ng-model="emailForm"placeholder='Email'/><br/><br/>
				<input type="text" name="subject" id='subject' ng-model="subjectForm"placeholder='Subject'/><br/><br/>
				<textarea name = "message" id='message' rows = "4" ng-model="messageForm"placeholder='Message'></textarea><br/><br/>

				<input type="submit" onclick="validate()" = "send" value="Send" /><input type="reset" value="Clear" />
				  
			</form>
			</center>	
		</div> 
	</div> 
		
		
	<div id="slide5">
		<div class="content">
			<ul>
				<span class="title">Projects:</span>
				<div ng-repeat="project in projects" class="project">
					<a href="{{project.link}}"><img src="{{project.image}}" alt={{project.name}} class="projectsPic"/><h3>{{project.name}}</a></h3></li>
					{{project.desc}}
				</div>
			</ul>	
		</div> 
	</div> 

	<div id="slide6">
		<div class="content">
			<footer class='footer'>
				<div class='footerContainer'>
					<div class='copy'>&copy; Daniel Cody.  All rights reserved.</div>
				</div><!--end of footerContainer-->
			</footer>

		</div>
	</div>
</body>
</html>
