html, body{
	margin: 0;
	padding: 0;
	width: 100%;
}

body{
	font-family: 'Source Sans Pro', sans-serif;
	color:#000;
}

h3{
	text-shadow: 2px 0px 3px rgba(150, 150, 150, 1);
	color:#fff;
}

a{
	text-decoration:none;
	color:#000;
}

a:hover{
	color:#1b1bc2;
}	

hr{
	background-color: #dbdbdb;
	color: #dbdbdb;
	border: 1px solid #dbdbdb;
}

li{
	text-decoration:none;
	display:block;
}

input[type='reset'], input[type='submit']{
	color: #606060;
	border: solid 1px #b7b7b7;
	background: #fff;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ededed));
	background: -moz-linear-gradient(top, #fff, #ededed);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed');
	display: inline-block;
	zoom: 1;
	vertical-align: baseline;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 14px/100% Arial, Helvetica, sans-serif;
	padding: .5em 2em .55em;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .5em;
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-webkit-border-radius: 2em;
	-moz-border-radius: 2em;
	border-radius: 2em;
}

.center { margin: 0 auto; }
.content{ 
	margin: 0 auto; 
	width: 960px;
	font-size:20px;
	display:none;
}

.white{
	color:#fff;
}

.black{
	color:#000;
}

.clear { clear: both; }
a.lpanel { float: left; color: #e1e1e1; font-size: 12px; font-family:"Wellfleet"; text-decoration: none; margin: 7px 11px; }
a.rpanel { float: right; color: #e1e1e1;  font-size: 12px; font-family:"Wellfleet"; text-decoration: none; margin: 7px 11px; }

#header { 
	width: 100%; 
	background: url('images/header-bg.png'); 
	height: 80px; 	
	position: fixed;
	border-bottom:1px solid #474747;
	opacity:1;
	z-index:1;
}

#header:hover{
	opacity:1;
}

#nav { 
	width: 510px; 
	float: right; 
	margin-top: 20px; 
}

#logo a { 
	color: #fff; 
	text-decoration: none; 
	float: left; 
	font-size: 30px; 
	margin-top: 20px; 
	color: #fff; 
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: bold; 
	text-shadow: 3px 0px 5px rgba(150, 150, 150, 1);
}

#nav ul{
	list-style: none;
	display: block;
	margin: 0 auto;
	list-style: none;	
}

#nav li{
	margin-top: 9px;	
	float: left;
	padding-left: 21px;
}

#nav li a { 
	color: #fff; 
	opacity:0.6; 
	font-size: 20px; 
	text-decoration: none; 
	font-family: 'Wellfleet'; 
}

#nav li a.active { 
	color: #fff; 
	opacity:1; 
	border-bottom: 2px solid #fff; 
}

#nav li a:hover { 
	color: #fff; 
	opacity:1;  
}

#slide1, #slide2, #slide3, #slide4, #slide5{ 
	width: 100%; 
}

#slide1{
	background:url('images/background.jpg') 50% 0 no-repeat fixed;
	color: #fff;
	height: 300px;
	margin: 0;
	padding: 150px 0 310px 0;
	background-size: cover;
}

#slide2{
	border-top:1px solid #474747;
	border-bottom:1px solid #474747;
	background-color: #fff;
	color: #000;
	height: 300px;
	margin: 0 auto;
	overflow: hidden;
	padding: 100px 0 100px 0;
}

#slide3{
	background: url('images/background1.jpg') 50% 0 no-repeat fixed;
	color: #fff;
	height: 1000px;
	padding: 100px 0 400px  0;
	margin: 0 auto;
	background-size: cover;
}

#slide4{
	border-top:1px solid #474747;
	border-bottom:1px solid #474747;
	background-color: #fff;
	color: #333333;
	height: 650px;
	padding: 80px 0 100px 0;
	margin: 0 auto;
	overflow: hidden;
}

#slide5{
	background: url('images/background2.jpg') 50% 0 no-repeat fixed;
	height: 900px;
	padding: 70px 0 100px 0;
	margin: 0 auto;
	color: #fff;
	background-size: cover;
	overflow: hidden;
}

#slide6{
	//border-top:1px solid #474747;
	//border-bottom:1px solid #474747;
	//background-color: #fff;
	color: #333333;
	height: 30px;
	margin: 0 auto;
	overflow: hidden;
}

/******** Welcome ********/
.welcome{
	font-size:30px;
	font-weight:bold;
	text-align:center;
	margin:auto auto auto auto;
}

.title{
	font-weight:bold;
	font-size:25px;
	margin-top:10px;
	margin-bottom:5px;
	text-decoration:underline;
	text-shadow: 2px 0px 3px rgba(150, 150, 150, 1);
}

.bios{
	font-size:20px;
	color:#fff;
	margin-bottom:5px;
	margin-top:5px;
}

.goals{
	font-size:20px;
	color:#fff;
	margin-bottom:5px;
	margin-top:5px;
}

/************ About ***********/
.subjectHolder{
	width:auto;
	height:auto;
	overflow:hidden;
}

.aboutSubject{
	float:left;
	padding-right:15px;
	padding-bottom:15px;
	width:300px;
	height:30px;
	overflow:hidden;
}

.searchAbout{
	width:200px;
	border-radius:10px;
	padding-left:10px;
	margin-left:10px;
}

.searchBar{
	text-align:center;
	overflow:margin;
	font-weight:bold;
}

.skillTitle{
	font-size:20px;
	font-weight:bold;
}

/*********** Projects **********/

.project{
	width:850px;
	height:auto;
	margin-bottom:50px;
	font-size:20px;
	color:#fff;
}

.projectsPic{
	float:left;
	height:80px;
	width:80px;
	margin-right:20px;
	border:1px solid #474747;
	-webkit-box-shadow: 8px 4px 13px 0px rgba(50, 50, 48, 0.58);
	-moz-box-shadow:    8px 4px 13px 0px rgba(50, 50, 48, 0.58);
	box-shadow:         8px 4px 13px 0px rgba(50, 50, 48, 0.58);
}

/*********** Contact **********/
#nameForm{
	width:600px;
	border-radius:10px;
	padding-left:10px;
	margin:auto auto auto auto;
}

#email{
	width:600px;
	border-radius:10px;
	padding-left:10px;
	margin:auto auto auto auto;
}

#subject{
	width:600px;
	border-radius:10px;
	padding-left:10px;
	margin:auto auto auto auto;
}

#message{
	width:600px;
	height:300px;
	margin:auto auto auto auto;
}

#emailForm{
	width:800px;
	float:left;
	overflow:hidden;
	margin-left:100px;
}

#emailForm input{
	font-weight:bold;
}

#emailForm textarea{
	font-weight:bold;
	border-color: gray;
}

.emailPrev{
	overflow:hidden;
	width:400px;
	min-height:450px;
	height:100%;
	border:1px solid #000;
	border-radius:10px;
	background:#C8C8C8;
}

.emailPrevFont{
	width:auto;
	height:auto;
	padding: 5px 5px 5px 5px;
}


/********** Footer ***********/
.copy{
	font-style:italic;
	text-align:center;
	margin: auto auto auto auto;
	padding-top:4px;
}